{% if metafields.custom.material_and_care %}
  <details>
    <summary>Material & Care</summary>
    <p>
      {{ metafields.custom.material_and_care.value | newline_to_br }}
    </p>
  </details>
{% endif %}
