{% if metafields.custom.size_chart_pdf %}
  <button
    onclick="window.open('{{ metafields.custom.size_chart_pdf | file_url }}', '_blank')"
    class="size-chart-button"
  >
    View Size Chart
  </button>
{% endif %}
